div {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .main-box {
    /* margin: 0 auto;
    margin-top: 60px; */
    margin-left: 25%;
    margin-top: 5%;
    border: solid #e9e9e9;
    width: 50%;
  }
  
  .head {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    border-bottom: solid #e9e9e9;
  }
  
  .form {
    margin-top: 50px;
    margin-left: 100px;
    /* display: flex;
    display: -webkit-flex;
    justify-content: space-evenly; */
  }
  
  .form .el-input {
    width: 80%;
  }
  
  /* .form .buttonItem {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    justify-content: left;
  } */
  
  .forgetPassword {
    margin-left: 40%;
  }
  
  .logo,
  .right {
    height: 60px;
    line-height: 60px;
  }
  
  .logo {
    font-size: 28px;
    font-weight: 600;
  }
  
  a {
      color: blue;
      text-decoration: underline;
  }
  
  a:hover {
      color: red;
  }